<div
  class="w-full h-full loader slide-up"
  [ngClass]="{ 'slide-up': !isLoading }"
>
  <div
    class="flex items-center justify-center w-full h-full blurred bg-white/5"
  >
    <img
      src="assets/stock_ware_logo.png"
      alt="Stock Ware Logo"
      class="h-12 pulse"
    />
  </div>
</div>
<app-toaster class="flex absolute left-0 right-0 z-[1001] py-2"></app-toaster>
<app-navbar *ngIf="!isDashboardRoute()"></app-navbar>
<router-outlet></router-outlet>
<brn-separator hlmSeparator class="my-5" *ngIf="!isDashboardRoute()" />
<app-footer *ngIf="!isDashboardRoute()"></app-footer>
