<div class="bg-white">
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-3xl py-32 sm:py-48 lg:py-50">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-black/10 hover:ring-black/20"
          routerLink="/clients/create"
        >
          Exciting news! We're revolutionizing the way you manage your
          inventory.
          <a href="#" class="font-semibold text-black"
            ><span class="absolute inset-0" aria-hidden="true"></span>Read more
            <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">
          Simplify Your Warehouse Management Process
        </h1>
        <p class="mt-6 text-xl leading-8 text-gray-600">
          Say goodbye to manual inventory management and disorganized stock
          records. Our StockWare app provides a seamless solution to efficiently
          manage your inventory and streamline your workflows. With StockWare,
          you can keep track of important information about your products,
          monitor stock levels, and gain valuable insights to optimize your
          business operations.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            routerLink="/products"
            class="rounded-md bg-black px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >Get started</a
          >
          <a class="font-semibold leading-6 text-black"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    ></div>
  </div>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-lg font-semibold leading-7 text-black">
          Welcome to StockWare
        </h2>
        <p
          class="mt-2 text-4xl font-bold tracking-tight text-black sm:text-4xl"
        >
          Manage your Inventory with ease
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Our Inventory Management System offers a user-friendly interface that
          allows you to easily input and update product information, including
          details such as description, quantity, pricing, and supplier
          information. You can categorize products based on various criteria
          such as product type, brand.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="font-semibold leading-7 text-black">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
                  />
                </svg>
              </div>
              Real-time Inventory Tracking
            </dt>
            <dd class="mt-2 leading-7 text-gray-600">
              Keep track of your inventory in real-time, allowing you to
              instantly view stock levels, monitor product availability, and
              make informed decisions about restocking or reordering.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="font-semibold leading-7 text-black">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                  />
                </svg>
              </div>
              User Management
            </dt>
            <dd class="mt-2 leading-7 text-gray-600">
              Easily manage user accounts and access levels within the inventory
              management system. Assign roles and permissions to users, ensuring
              that the right individuals have appropriate access to specific
              functionalities and data.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="font-semibold leading-7 text-black">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                  />
                </svg>
              </div>
              Category Organization
            </dt>
            <dd class="mt-2 leading-7 text-gray-600">
              Categorize your inventory items into different categories based on
              product types, brands, or any other custom criteria. This helps to
              efficiently organize and navigate through your inventory, making
              it easier to locate and manage specific items.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="font-semibold leading-7 text-black">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-black"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                  />
                </svg>
              </div>
              Reporting and Analytics
            </dt>
            <dd class="mt-2 leading-7 text-gray-600">
              Generate reports and access analytics on various inventory metrics
              such as stock levels, item sales, and inventory valuation. These
              insights provide a clear overview of your inventory performance,
              enabling you to make informed decisions and optimize your
              inventory management strategies.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
